Resources:
  sslSecurityGroupIngress: 
    Type: AWS::EC2::SecurityGroupIngress
    Properties:
      GroupId: {Ref : AWSEBSecurityGroup}
      IpProtocol: tcp
      ToPort: 443
      FromPort: 443
      CidrIp: 0.0.0.0/0

files:
  /etc/nginx/conf.d/ssl.conf:
    mode: "000755"
    owner: root
    group: root
    content: |
      # HTTPS Server
      server {
        listen 80;
        return 301 https://$host$request_uri;
      }
      server {
        listen 443;
        server_name localhost;
        
        ssl on;
        ssl_certificate /etc/pki/tls/certs/server.crt;
        ssl_certificate_key /etc/pki/tls/certs/server.key;
        
        ssl_session_timeout 5m;
        
        ssl_protocols TLSv1 TLSv1.1 TLSv1.2;
        ssl_ciphers ALL:!ADH!EXPORT56:RC4+RSA:+HIGH:+MEDIUM:+LOW:+SSLv2:+EXP;
        ssl_prefer_server_ciphers on;
        
        location / {
          proxy_pass http://docker;
          proxy_http_version 1.1;
          
          proxy_set_header Connection "";
          proxy_set_header Host $host;
          proxy_set_header X-Real-IP $remote_addr;
          proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        }
      }
      
  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
      MIIEgzCCA2ugAwIBAgIJALvbhnpQGrYBMA0GCSqGSIb3DQEBBQUAMIGHMQswCQYD
      VQQGEwJHQjEPMA0GA1UECBMGTG9uZG9uMQ8wDQYDVQQHEwZMb25kb24xDzANBgNV
      BAoTBnNhbXBsZTEPMA0GA1UECxMGc2FtcGxlMRIwEAYDVQQDEwlsb2NhbGhvc3Qx
      IDAeBgkqhkiG9w0BCQEWEXNhbXBsZUBzYW1wbGUub3JnMB4XDTE1MDMwMTIwMzM1
      MFoXDTE2MDIyOTIwMzM1MFowgYcxCzAJBgNVBAYTAkdCMQ8wDQYDVQQIEwZMb25k
      b24xDzANBgNVBAcTBkxvbmRvbjEPMA0GA1UEChMGc2FtcGxlMQ8wDQYDVQQLEwZz
      YW1wbGUxEjAQBgNVBAMTCWxvY2FsaG9zdDEgMB4GCSqGSIb3DQEJARYRc2FtcGxl
      QHNhbXBsZS5vcmcwggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQDKxVkC
      QR55C0D1YnFJw2F3HgpOj9HQQFXnV7AoX3KE76ZctH7PFr1rWZKwBgyB3CSmt344
      W9UUSgRQnWE8L/SK2fPVCPZB9scZX+s9dxQJVUpm2Fyi+y5TyO0Bch4DJQ2iDYWJ
      JQ1moMXKAaYmq91J70qLiajahOI941wEFC8o8rJMMKsJHnM6OFpgGwXn/5A9yCWW
      jFMaf3F1uWp0pJ6fiPkj/WLwJdgila9zCKhfdTAXT5WQXP3gqgV1Of9Bd7oysYrb
      V3aWhPcLAhG+3GK1hwApSd9lxZWuhGYFLkIOx0pl/PV6I14tABpWKxFhXywOfvAt
      SX/NAliaEsJQbXJTAgMBAAGjge8wgewwHQYDVR0OBBYEFLJxXddospZN/i15u5K7
      ZUse+nkAMIG8BgNVHSMEgbQwgbGAFLJxXddospZN/i15u5K7ZUse+nkAoYGNpIGK
      MIGHMQswCQYDVQQGEwJHQjEPMA0GA1UECBMGTG9uZG9uMQ8wDQYDVQQHEwZMb25k
      b24xDzANBgNVBAoTBnNhbXBsZTEPMA0GA1UECxMGc2FtcGxlMRIwEAYDVQQDEwls
      b2NhbGhvc3QxIDAeBgkqhkiG9w0BCQEWEXNhbXBsZUBzYW1wbGUub3JnggkAu9uG
      elAatgEwDAYDVR0TBAUwAwEB/zANBgkqhkiG9w0BAQUFAAOCAQEAdnusFM08nx0A
      sHpnRoC74NHJfMF5jp+hOMfJ50t3ERHPkWmPCiIlPaYMn/OaSj5HUslqBvDjcuvg
      QqByih7xLaHoGHe+tfvf0t8p37gsb8BI6SSl9TacYfHTtt3DYkiDew2RBG0LmqnD
      1TYErNmvHXF14SDQb+WKluLPaF080C7mEC7EnGzihtubV5YWsP1CLdEDheoN7C9m
      XTMZ8eGn0zPVhXcuBByHSYSUe4eJJf6vVWag34Va6ENv3CY8ZkCgEosKb4KErG0U
      QYYnhglLc2mJj0r0kX09iAgRwjZoV791FAjWq5pk5YvElZXNIqg0xuL+UAUmGVuH
      mxoNudw/FQ==
      -----END CERTIFICATE-----
      
  /etc/pki/tls/certs/server.key:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN RSA PRIVATE KEY-----
      MIIEowIBAAKCAQEAysVZAkEeeQtA9WJxScNhdx4KTo/R0EBV51ewKF9yhO+mXLR+
      zxa9a1mSsAYMgdwkprd+OFvVFEoEUJ1hPC/0itnz1Qj2QfbHGV/rPXcUCVVKZthc
      ovsuU8jtAXIeAyUNog2FiSUNZqDFygGmJqvdSe9Ki4mo2oTiPeNcBBQvKPKyTDCr
      CR5zOjhaYBsF5/+QPcglloxTGn9xdblqdKSen4j5I/1i8CXYIpWvcwioX3UwF0+V
      kFz94KoFdTn/QXe6MrGK21d2loT3CwIRvtxitYcAKUnfZcWVroRmBS5CDsdKZfz1
      eiNeLQAaVisRYV8sDn7wLUl/zQJYmhLCUG1yUwIDAQABAoIBAAuPJHvUaoBL+/AB
      JKQn1y6LL9s6p6NPh5YgkZI7nrOlVb6DK5dynGm6OXp/XccpXY2DeFaOJZ96eLR/
      xENCGJaxxgym7iLkhoUTyr0+RI4jppImU2GXIBT2p0wlzUAwpI5QZwRicFkhYSUa
      4vXhZkQIuB8sQcvzN1J/24b//5A964wp44fi4jMSR0Y461Z8COGUyAUA8H4WiLUO
      VnjmLYiK5BMt9NxjhjIVMyf2bChB1pNVxMUUIsnnZzXIHdrNTyDpr2K1G8QR8SjJ
      9cXiuhktkbn48eDaOkQXG+82irBsMtsGl29tHTV5NYTqDovscABM38FRJG/Yf92L
      wkru0IECgYEA9yCqBtFGKYYJmAjqB5+FPHuehMVTtpuF0bF2UzENoa47gma6dSOI
      lda1yOKjE5+mJzKTAeZLEcijoxAIdKZTVbxzxqwYvNzUTuMk2Ce9YHT6WHOr7/0z
      8mQFZh8BynBlFkOGYaWk6jsX2qsojE6egFG9fp05173X7C0JIgiGHisCgYEA0g0A
      6BIhDYtPfTxROp+ucp6w6z9W7sokdvSRPSQGYEA2H7X+86smIHkkEGuPgjOcrqM0
      nvsjeRxCm5lRFjEgbEIbwj0wk9H3j9lCvJ2qP2F2h2Xyo6LxWwvoy+/fCyZojqMv
      sZFN5T2qGWyL4DWhtC79vVXkgRId1c92LUCzkHkCgYBnDmYZRbhepJjnoAAIgcuM
      N3kZoTiR1DVwBvNzKeenXwNOFAz5wIG7CrjwNyMOkes2OW74wdLYbbVf0NXV326t
      OFOHrEj8qZKX+z1oLtpYmS+1JzeycwLwuClQNuoGQ+zD5hDqM6ucSlxeQjY8nKSY
      mn3NiT+P6ola4kUGvks/1QKBgGdbbq7C/PClNB/zpiSqnjRYUcXwDN7DKN4/yZfE
      Oj7yWa+Q5jsQZFpmQZCy3JK8wsRMGoCAIxxdA4l9D6FT2xhqDy6s3VJfZumphmU5
      T6SQWLqXN6W9b/XVDmALUD00UQ6ezcEaNrIufZy1BL72pPL8jG617RJ1z6h9xTDP
      PYxBAoGBAOnUn5mamQyS+tuJVZq07YW2WI8YOAp3cDRM/EdqEgzMOQUWVODquS0g
      49yb1HtCieZKJBayZke1SQIa2cqOeC+fpHt3v1LfxIOEGQ74Qc6ttwZ6IP/8ZrqL
      QpBTtnIydqVBM5ij0NiCEze4zCZakgvBK1E4RkJ6DQYnJrqSQNVU
      -----END RSA PRIVATE KEY-----